body {
    background-color: #AAD2DE;
    font-family: 'Open Sans', Arial, sans-serif;
}

body, td {
    text-align: center;
}

.units:hover {
    cursor: pointer;
    outline-style: groove;
    outline-color: aquamarine;
}

#current {
    display: flex;
    justify-content: center;
}

#current table {
    padding: 25px;
    margin: 5px;
}

#img {
    flex-direction: column;
}

#img p {
    margin: 5px;
}

#err {
    padding: 25px;
    margin: 25px;
}

.data {
    display: flex;
    justify-content: space-evenly;
}