body , .toggle {
    background-color: #AAD2DE;
    font-family: 'Open Sans', Arial, sans-serif;
}

body, td {
    text-align: center;
}

#place {
    padding: 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    border:  2px solid;
    width: 20%;
    height: 100%;
}

#form-btn {
    width: 20%;
    background-color: #DEB6AA;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#form-btn:hover {
    cursor: pointer;
    outline-color: #AADED0;
    color: #AADED0;
}

.units:hover {
    cursor: pointer;
    outline-style: groove;
    outline-color: #DEB6AA;
}

#current {
    display: flex;
    justify-content: center;
}

#current table {
    padding: 25px;
    margin: 5px;
}

#img {
    flex-direction: column;
}

#img p {
    margin: 5px;
}

#err {
    padding: 25px;
    margin: 25px;
}

.data {
    display: flex;
    justify-content: space-evenly;
}

.toggle {
    border: none;
    outline: none;
    cursor: pointer;
    width: auto;
    font-size: large;
    font-weight: bold;
    border-radius: 50%;
}

.toggle:hover {
    background-color: #DEB6AA;
    transition-duration: 500ms;
}

#analyze span {
    font-weight: bold;
}