<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Simple Weather</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1><a href="/">Simple Weather</a></h1>
        <form action="/" method="post">
            <label for="place">Please enter your city:</label><br>
            <input type="text" id="place" name="place" placeholder="ex: Seattle, Chicago" required/><br/>
            <input type="submit" id="form-btn" value="Enter" name="enterbtn"/>
        </form>
        {% if prompt %}
        <div id="err">{{prompt}}</div>
        {% elif current_data and forecast and past_data %}
        <h2>{{page_title}}</h2>
        <section id="current">
            <table>
                <tr><td>Today: {{current_data['day']}} {{current_data['date']}}</td></tr>
                <tr><td class="temp">Current Temperature: <span>{{current_data['temp']}}</span><sup>o</sup><a class="units" onclick="toggleTemp()">F</a></td></tr>
                <tr><td>{{current_data['weather'][0]['main']}}</td></tr>
                <tr><td><img src="http://openweathermap.org/img/wn/{{current_data['weather'][0]['icon']}}@2x.png" alt="{{current_data['weather'][0]['main']}}" title="{{current_data['weather'][0]['main']}}"></td></tr>
            </table>
            {% if img %}
            <div id="img">
                <a href="{{img['photos'][0]['url']}}" target="_blank"><img src="{{img['photos'][0]['src']['tiny']}}" alt="{{img['photos'][0]['alt']}}"></a>
                <p>This photo was taken by <a href="{{img['photos'][0]['photographer_url']}}" target="_blank">{{img['photos'][0]['photographer']}}</a> on <a href="https://www.pexels.com" target="_blank">Pexels</a></p>
            </div>
            {% endif %}
        </section>
        <div class="data">
            <section id="past">
                <h3><button class="toggle" onclick="toggle(&quot;#past table&quot;)">Past 5 Days</button></h3>
                <table>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Weather</th>
                    </tr>
                    {% for day in past_data %}
                    <tr>
                        <td>{{day['day']}}<br>{{day['date']}}</td>
                        <td class="temp"><span>{{day['temp']}}</span><sup>o</sup><a class="units" onclick="toggleTemp()">F</a></td>
                        <td><img src="http://openweathermap.org/img/wn/{{day['weather'][0]['icon']}}@2x.png" alt="{{day['weather'][0]['main']}}" title="{{day['weather'][0]['main']}}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
            <section id="forecast">
                <h3><button class="toggle" onclick="toggle(&quot;#forecast table&quot;)">7-day Forecast</button></h3>
                <table>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Weather</th>
                    </tr>
                    {% for day in forecast %}
                    <tr>
                        <td>{{day['day']}}<br>{{day['date']}}</td>
                        <td class="temp"><span>{{day['temp']['day']}}</span><sup>o</sup><a class="units" onclick="toggleTemp()">F</a></td>
                        <td><img src="http://openweathermap.org/img/wn/{{day['weather'][0]['icon']}}@2x.png" alt="{{day['weather'][0]['main']}}" title="{{day['weather'][0]['main']}}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
            <div id="analyze">
                <h2>Looking at the results...</h2>
                <p>Average Temperature for the 7-day forecast</p>
                <p><span id="avg_forecast">{{more['forecast_avg'][0]}}</span><sup>o</sup><a class="units" onclick="toggleTemp()">F</a></p>
                <p>Average Temperature for the past 5 days</p>
                <p><span id="avg_past">{{more['past_avg'][0]}}</span><sup>o</sup><a class="units" onclick="toggleTemp()">F</a></p>
            </div>
        </div>
    <script>
        function select(selector) {
            return document.querySelector(selector);
        }

        function selectAll(selector) {
            return document.querySelectorAll(selector);
        }

        function id(name) {
            return document.getElementById(name);
        }

        function toggle(name) {
            element = select(name);
            if (element.style.display === "none") {
                element.style.display = "block";
            } else {
                element.style.display = "none";
            }
        }

        function toggleTemp() {
            let temp = document.getElementsByClassName('units');
            for (let i = 0; i < temp.length; i++) {
                if (temp[i].innerHTML === "F") {
                    temp[i].innerHTML = "C";
                    toggleCurrent("C");
                    toggleOthers("C");
                } else {
                    temp[i].innerHTML = "F";
                    toggleCurrent("F");
                    toggleOthers("F");
                }
            }
        }

        function toggleCurrent(units) {
            data = selectAll("#current span");
            if (units === "C") {
                data[0].innerText = {{current_data['cel']}};
            }
            else {
                data[0].innerText = {{current_data['temp']}};
            }
        }

        function toggleOthers(units) {
            forecastData = selectAll("#forecast span")
            historicData = selectAll("#past span")
            avgForecast = id("avg_forecast");
            avgPast = id("avg_past");
            if (units === "C") {
                avgForecast.innerHTML = {{more['forecast_avg'][1]}};
                avgPast.innerHTML = {{more['past_avg'][1]}};
                {% for day in range(7) %}
                forecastData[{{day}}].innerHTML = {{forecast[day]['cel']['day']}};
                {% endfor %}
                {% for day in range(5) %}
                historicData[{{day}}].innerHTML = {{past_data[day]['cel']}};
                {% endfor %}
            } else {
                avgForecast.innerHTML = {{more['forecast_avg'][0]}};
                avgPast.innerHTML = {{more['past_avg'][0]}};
                {% for day in range(7) %}
                forecastData[{{day}}].innerHTML = {{forecast[day]['temp']['day']}};
                {% endfor %}
                {% for day in range(5) %}
                historicData[{{day}}].innerHTML = {{past_data[day]['temp']}};
                {% endfor %}
            }
        }
    </script>
        {% endif %}
    </body>
</html>