<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Simple Weather</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1><a href="/">Simple Weather</a></h1>
        <form action="/" method="post">
            <label for="place">Please enter the city:</label><br>
            <input type="text" id="place" name="place" required/><br/>
            <input type="submit" value="Enter" name="enterbtn"/>
        </form>
        {% if prompt %}
        <div id="err">{{prompt}}</div>
        {% elif current_data and forecast and past_data %}
        <h2>{{page_title}}</h2>
        <section id="current">
            <table>
                <tr><td>Today: {{current_data['day']}} {{current_data['date']}}</td></tr>
                <tr><td>Current Temperature: {{current_data['temp']}}<sup>o</sup>C</td></tr>
                <tr><td>{{current_data['weather'][0]['main']}}</td></tr>
                <tr><td><img src="http://openweathermap.org/img/wn/{{current_data['weather'][0]['icon']}}@2x.png" alt="{{current_data['weather'][0]['main']}}" title="{{current_data['weather'][0]['main']}}"></td></tr>
            </table>
        </section>
        <div class="data">
            <section id="forecast">
                <h3>7-day Forecast</h3>
                <table>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Weather</th>
                    </tr>
                    {% for day in forecast %}
                    <tr>
                        <td>{{day['day']}}<br>{{day['date']}}</td>
                        <td>{{day['temp']['day']}}<sup>o</sup>C</td>
                        <td><img src="http://openweathermap.org/img/wn/{{day['weather'][0]['icon']}}@2x.png" alt="{{day['weather'][0]['main']}}" title="{{day['weather'][0]['main']}}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
            <section id="past">
                <h3>Past 5 Days</h3>
                <table>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Weather</th>
                    </tr>
                    {% for day in past_data %}
                    <tr>
                        <td>{{day['day']}}<br>{{day['date']}}</td>
                        <td>{{day['temp']}}<sup>o</sup>C</td>
                        <td><img src="http://openweathermap.org/img/wn/{{day['weather'][0]['icon']}}@2x.png" alt="{{day['weather'][0]['main']}}" title="{{day['weather'][0]['main']}}"></td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
        </div>
        {% endif %}
    </body>
</html>